@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;500&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 10px 20px;
}
nav{
    position: relative;
    background-color: #242424;
    color: white;
    height: 60px;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.musicvolume {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjust the distance from the right edge */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: white;
}
.top{
    margin-top: 10px;
}
nav li img{
    width: 40px;
    height: auto;
    margin-top: 5px;
    filter: invert(1);
}
.gameContainer{
    background-color: #f0f0f0;
    height: 90vh;
}
.gameContainer2{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}
.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: black;
}
.box img{
    width: 9vw;
}
.box img:hover{
    filter: invert(1);
    width: 8vw;
}
.gameinfo{
    padding: 30px 34px;
    text-align: center;
}
.imgbox img{
    width:0px;
    transition: width 1s ease-in-out, opacity 2s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #dcdcdc; 
    font-size: larger;
    font-weight: bolder;
    margin: 20px;
}
#volumeControl{
    width: 100%;
}
.boxtext,.info{
    font-size: 1.5rem;
    font-weight: bold;
}
nav li{
    flex: 1 1 auto;
}

.line{
    background-color: black;
    width: 0;
    height: 0;
    position: absolute;
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

@media screen and (max-width:800px) {
    nav ul {
        flex-direction: column; /* Change to a column layout on small screens */
        align-items: center; /* Center items in the column */
    }
    nav{
        height: auto; 
    }
    .gameContainer2{
        flex-direction: column;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}